In [1]:
import pandas as pd
import numpy as np
import requests
import json
import time

In [2]:
ca_stations = "https://www.ncei.noaa.gov/cdo-web/api/v2/stations?locationid=FIPS:06&offset=4540"
head = {'token':'NtaLTUZoQTFKjelGNOqHHeoSVFClmpiN'}
response = requests.get(ca_stations, headers=head)

In [5]:
response.text

'{"metadata":{"resultset":{"offset":4540,"count":4573,"limit":25}},"results":[{"elevation":7.2,"mindate":"1945-05-01","maxdate":"2023-03-26","latitude":32.56797,"name":"IMPERIAL BEACH REAM FIELD NAS, CA US","datacoverage":0.81,"id":"WBAN:93115","elevationUnit":"METERS","longitude":-117.11715},{"elevation":161.3,"mindate":"1943-06-16","maxdate":"2023-03-26","latitude":33.23377,"name":"SAN NICOLAS ISLAND, CA US","datacoverage":0.68,"id":"WBAN:93116","elevationUnit":"METERS","longitude":-119.45591},{"elevation":55.5,"mindate":"1943-06-10","maxdate":"2023-03-26","latitude":33.02333,"name":"SAN CLEMENTE ISLAND NAAS, CA US","datacoverage":0.61,"id":"WBAN:93117","elevationUnit":"METERS","longitude":-118.58806},{"elevation":610.5,"mindate":"1945-05-01","maxdate":"2023-03-26","latitude":34.294,"name":"TWENTYNINE PALMS MC, CA US","datacoverage":0.47,"id":"WBAN:93121","elevationUnit":"METERS","longitude":-116.14722},{"elevation":54.6,"mindate":"1999-07-01","maxdate":"2023-03-26","latitude":34.0236,"name":"LOS ANGELES DOWNTOWN USC, CA US","datacoverage":1,"id":"WBAN:93134","elevationUnit":"METERS","longitude":-118.2911},{"elevation":1739.2,"mindate":"1949-01-01","maxdate":"2015-05-13","latitude":34.23333,"name":"MOUNT WILSON, CA US","datacoverage":0.3,"id":"WBAN:93136","elevationUnit":"METERS","longitude":-118.06667},{"elevation":124.7,"mindate":"2005-01-01","maxdate":"2023-03-26","latitude":33.82216,"name":"PALM SPRINGS ASOS, CA US","datacoverage":1,"id":"WBAN:93138","elevationUnit":"METERS","longitude":-116.50433},{"elevation":89.9,"mindate":"2005-01-01","maxdate":"2023-03-26","latitude":36.31667,"name":"VISALIA MUNICIPAL AIRPORT, CA US","datacoverage":1,"id":"WBAN:93144","elevationUnit":"METERS","longitude":-119.4},{"elevation":13,"mindate":"1940-06-17","maxdate":"2023-03-26","latitude":33.67975,"name":"SANTA ANA JOHN WAYNE AIRPORT, CA US","datacoverage":0.68,"id":"WBAN:93184","elevationUnit":"METERS","longitude":-117.86746},{"elevation":101.9,"mindate":"1941-12-04","maxdate":"2023-03-26","latitude":36.77999,"name":"FRESNO YOSEMITE INTERNATIONAL, CA US","datacoverage":0.98,"id":"WBAN:93193","elevationUnit":"METERS","longitude":-119.72016},{"elevation":748.9,"mindate":"2005-02-26","maxdate":"2013-11-04","latitude":35.66667,"name":"INYOKERN KERN CO, CA US","datacoverage":0.27,"id":"WBAN:93194","elevationUnit":"METERS","longitude":-117.83333},{"elevation":53.3,"mindate":"2005-01-01","maxdate":"2023-03-26","latitude":34.02099,"name":"SANTA MONICA MUNICIPAL AIRPORT, CA US","datacoverage":1,"id":"WBAN:93197","elevationUnit":"METERS","longitude":-118.44712},{"elevation":1798.3,"mindate":"2005-01-01","maxdate":"2023-03-26","latitude":39.32,"name":"TRUCKEE AIRPORT, CA US","datacoverage":1,"id":"WBAN:93201","elevationUnit":"METERS","longitude":-120.13944},{"elevation":82.9,"mindate":"2005-02-25","maxdate":"2023-03-26","latitude":39.8,"name":"CHICO ARMY FLYING SCHOOL, CA US","datacoverage":1,"id":"WBAN:93203","elevationUnit":"METERS","longitude":-121.85},{"elevation":18.9,"mindate":"2005-01-01","maxdate":"2023-03-26","latitude":39.10205,"name":"MARYSVILLE AIRPORT ASOS, CA US","datacoverage":1,"id":"WBAN:93205","elevationUnit":"METERS","longitude":-121.56884},{"elevation":55.8,"mindate":"2005-01-01","maxdate":"2023-03-26","latitude":35.23815,"name":"SAN LUIS OBISPO MCCHESNEY FIELD, CA US","datacoverage":1,"id":"WBAN:93206","elevationUnit":"METERS","longitude":-120.64406},{"elevation":249.8,"mindate":"1941-12-01","maxdate":"2023-03-26","latitude":35.66936,"name":"PASO ROBLES MUNICIPAL AIRPORT, CA US","datacoverage":0.97,"id":"WBAN:93209","elevationUnit":"METERS","longitude":-120.62918},{"elevation":56.9,"mindate":"2005-01-01","maxdate":"2023-03-26","latitude":39.4943,"name":"OROVILLE MUNICIPAL AIRPORT, CA US","datacoverage":1,"id":"WBAN:93210","elevationUnit":"METERS","longitude":-121.62226},{"elevation":112.5,"mindate":"2005-01-03","maxdate":"2023-03-26","latitude":34.71667,"name":"VANDENBERG AFB, CA US","datacoverage":1,"id":"WBAN:93214","elevationUnit":"METERS","longitude":-120.56667},{"elevation":38.1,"mindate":"1959-07-01","maxdate":"2023-03-26","latitude":39.13333,"name":"BEALE AFB, CA US","datacoverage":0.97,"id":"WBAN:93216","elevationUnit":"METERS","longitude":-121.43333},{"elevation":43,"mindate":"1960-04-04","maxdate":"1993-08-31","latitude":36.68333,"name":"FRITZSCHE ARMY AIR FIELD, CA US","datacoverage":0.74,"id":"WBAN:93217","elevationUnit":"METERS","longitude":-121.76667},{"elevation":7.5,"mindate":"1973-01-01","maxdate":"2023-03-26","latitude":38.70069,"name":"SACRAMENTO METROPOLITAN AIRPORT, CA US","datacoverage":1,"id":"WBAN:93225","elevationUnit":"METERS","longitude":-121.59479},{"elevation":18,"mindate":"1999-01-01","maxdate":"2005-06-07","latitude":35.66556,"name":"SAN SIMEON POINT PIEDRAS BLANCAS, CA US","datacoverage":0.96,"id":"WBAN:93226","elevationUnit":"METERS","longitude":-121.28472},{"elevation":4.7,"mindate":"2000-01-01","maxdate":"2023-03-26","latitude":38.2075,"name":"NAPA CO AIRPORT, CA US","datacoverage":1,"id":"WBAN:93227","elevationUnit":"METERS","longitude":-122.28041},{"elevation":9.6,"mindate":"2000-01-01","maxdate":"2023-03-26","latitude":37.65886,"name":"HAYWARD AIR TERMINAL, CA US","datacoverage":1,"id":"WBAN:93228","elevationUnit":"METERS","longitude":-122.12116}]}'

In [7]:
ca_stations = f"https://www.ncei.noaa.gov/cdo-web/api/v2/stations?locationid=FIPS:06&limit=1000&offset=0"
head = {'token':'NtaLTUZoQTFKjelGNOqHHeoSVFClmpiN'}
response = requests.get(ca_stations, headers=head)
len(response.text)

202718

In [8]:
response.status_code

200

In [9]:
stations = []
chunks = [0, 1000, 2000, 3000, 4000, 4543]
for chunk in chunks:
    # Get call to NOAA service
    ca_stations = f"https://www.ncei.noaa.gov/cdo-web/api/v2/stations?locationid=FIPS:06&limit=1000&offset={chunk}"
    head = {'token':'NtaLTUZoQTFKjelGNOqHHeoSVFClmpiN'}
    response = requests.get(ca_stations, headers=head)

    result = json.loads(response.text)

In [42]:
gkk = df_noaa.groupby(['station', 'datatype'])['station', 'datatype', 'date', 'value']
gkk.first()

/var/folders/fs/x3qzg8qx4hqf2v_3rpk3d4yr0000gn/T/ipykernel_23301/2476493636.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  gkk = df_noaa.groupby(['station', 'datatype'])['station', 'datatype', 'date', 'value']

                                      station datatype        date  value
station           datatype
GHCND:US1CAAL0012 PRCP      GHCND:US1CAAL0012     PRCP  2018-01-01   0.00
GHCND:US1CAAM0015 PRCP      GHCND:US1CAAM0015     PRCP  2020-10-09   0.00
GHCND:US1CALA0046 PRCP      GHCND:US1CALA0046     PRCP  2018-01-01   0.00
GHCND:US1CAMP0008 PRCP      GHCND:US1CAMP0008     PRCP  2018-01-01   0.00
GHCND:US1CASC0057 PRCP      GHCND:US1CASC0057     PRCP  2018-01-01   0.00
GHCND:US1CASD0053 PRCP      GHCND:US1CASD0053     PRCP  2018-01-01   0.00
GHCND:US1CASK0020 PRCP      GHCND:US1CASK0020     PRCP  2018-02-23   0.12
GHCND:US1CASZ0052 PRCP      GHCND:US1CASZ0052     PRCP  2018-11-28   0.52
GHCND:USC00041697 PRCP      GHCND:USC00041697     PRCP  2018-01-02   0.00
                  TMAX      GHCND:USC00041697     TMAX  2018-01-02  63.00
                  TMIN      GHCND:USC00041697     TMIN  2018-01-02  41.00
GHCND:USR0000CBAR TMAX      GHCND:USR0000CBAR     TMAX  2018-01-01  65.00
                  TMIN      GHCND:USR0000CBAR     TMIN  2018-01-01  46.00
GHCND:USR0000CCRE TMAX      GHCND:USR0000CCRE     TMAX  2018-01-01  56.00
                  TMIN      GHCND:USR0000CCRE     TMIN  2018-01-01  23.00
GHCND:USR0000CDGR TMAX      GHCND:USR0000CDGR     TMAX  2018-01-01  55.00
                  TMIN      GHCND:USR0000CDGR     TMIN  2018-01-01  29.00
GHCND:USR0000CHAY TMAX      GHCND:USR0000CHAY     TMAX  2018-01-01  63.00
                  TMIN      GHCND:USR0000CHAY     TMIN  2018-01-01  30.00
GHCND:USR0000CHNM TMAX      GHCND:USR0000CHNM     TMAX  2018-01-01  60.00
                  TMIN      GHCND:USR0000CHNM     TMIN  2018-01-01  32.00
GHCND:USR0000CSNL TMAX      GHCND:USR0000CSNL     TMAX  2018-01-01  65.00
                  TMIN      GHCND:USR0000CSNL     TMIN  2018-01-01  37.00
GHCND:USS0019L39S PRCP      GHCND:USS0019L39S     PRCP  2018-01-01   0.00
                  TMAX      GHCND:USS0019L39S     TMAX  2018-01-01  55.00
                  TMIN      GHCND:USS0019L39S     TMIN  2018-01-01  30.00

In [11]:
daily_temperature = []
startdates = ['2018-01-01', '2019-01-01', '2020-01-01', '2021-01-01', '2022-01-01']
enddates =   ['2018-12-31', '2019-12-31', '2020-12-31', '2021-12-31', '2022-12-31']
for startdate, enddate in zip(startdates, enddates):
    for i in range(closest_station.shape[0]):
        station_code = closest_station.iloc[i, 0]

        print(f"Getting temperature data from station {i + 1} of {closest_station.shape[0]} for {startdate} to {enddate}", end='\r')
        data = f"https://www.ncei.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&stationid={station_code}&datatypeid=TMIN&datatypeid=TMAX&startdate={startdate}&enddate={enddate}&units=standard&limit=1000"
        head = {'token':'NtaLTUZoQTFKjelGNOqHHeoSVFClmpiN'}
        response = requests.get(data, headers=head)
        if response.status_code != 204 and len(response.text) != 0:
            results = json.loads(response.text)
            daily_temperature.append(results)

NameError: name 'closest_station' is not defined

In [88]:
df_noaa = pd.read_csv('data/weather.csv')
df_noaa.head(10)

         date datatype            station  value
0  2018-01-01     PRCP  GHCND:US1CAAL0012    0.0
1  2018-01-01     PRCP  GHCND:US1CALA0046    0.0
2  2018-01-01     PRCP  GHCND:US1CAMP0008    0.0
3  2018-01-01     PRCP  GHCND:US1CASC0057    0.0
4  2018-01-01     PRCP  GHCND:US1CASD0053    0.0
5  2018-01-01     TMAX  GHCND:USR0000CBAR   65.0
6  2018-01-01     TMIN  GHCND:USR0000CBAR   46.0
7  2018-01-01     TMAX  GHCND:USR0000CCRE   56.0
8  2018-01-01     TMIN  GHCND:USR0000CCRE   23.0
9  2018-01-01     TMAX  GHCND:USR0000CDGR   55.0

In [47]:
gkk.values

AttributeError: 'DataFrameGroupBy' object has no attribute 'values'

In [37]:
v = gkk.groups.keys()

dict_keys([('GHCND:US1CAAL0012', 'PRCP'), ('GHCND:US1CAAM0015', 'PRCP'), ('GHCND:US1CALA0046', 'PRCP'), ('GHCND:US1CAMP0008', 'PRCP'), ('GHCND:US1CASC0057', 'PRCP'), ('GHCND:US1CASD0053', 'PRCP'), ('GHCND:US1CASK0020', 'PRCP'), ('GHCND:US1CASZ0052', 'PRCP'), ('GHCND:USC00041697', 'PRCP'), ('GHCND:USC00041697', 'TMAX'), ('GHCND:USC00041697', 'TMIN'), ('GHCND:USR0000CBAR', 'TMAX'), ('GHCND:USR0000CBAR', 'TMIN'), ('GHCND:USR0000CCRE', 'TMAX'), ('GHCND:USR0000CCRE', 'TMIN'), ('GHCND:USR0000CDGR', 'TMAX'), ('GHCND:USR0000CDGR', 'TMIN'), ('GHCND:USR0000CHAY', 'TMAX'), ('GHCND:USR0000CHAY', 'TMIN'), ('GHCND:USR0000CHNM', 'TMAX'), ('GHCND:USR0000CHNM', 'TMIN'), ('GHCND:USR0000CSNL', 'TMAX'), ('GHCND:USR0000CSNL', 'TMIN'), ('GHCND:USS0019L39S', 'PRCP'), ('GHCND:USS0019L39S', 'TMAX'), ('GHCND:USS0019L39S', 'TMIN')])

In [44]:
f = lambda x: x[1]
f(gkk.groups.keys())

TypeError: 'dict_keys' object is not subscriptable

In [31]:
gkk['datatype'].first()

station            datatype
GHCND:US1CAAL0012  PRCP        PRCP
GHCND:US1CAAM0015  PRCP        PRCP
GHCND:US1CALA0046  PRCP        PRCP
GHCND:US1CAMP0008  PRCP        PRCP
GHCND:US1CASC0057  PRCP        PRCP
GHCND:US1CASD0053  PRCP        PRCP
GHCND:US1CASK0020  PRCP        PRCP
GHCND:US1CASZ0052  PRCP        PRCP
GHCND:USC00041697  PRCP        PRCP
                   TMAX        TMAX
                   TMIN        TMIN
GHCND:USR0000CBAR  TMAX        TMAX
                   TMIN        TMIN
GHCND:USR0000CCRE  TMAX        TMAX
                   TMIN        TMIN
GHCND:USR0000CDGR  TMAX        TMAX
                   TMIN        TMIN
GHCND:USR0000CHAY  TMAX        TMAX
                   TMIN        TMIN
GHCND:USR0000CHNM  TMAX        TMAX
                   TMIN        TMIN
GHCND:USR0000CSNL  TMAX        TMAX
                   TMIN        TMIN
GHCND:USS0019L39S  PRCP        PRCP
                   TMAX        TMAX
                   TMIN        TMIN
Name: datatype, dtype: object

In [50]:
gkk = df_noaa.groupby(['station', 'date', 'datatype'])
gkk.first()

                                       value
station           date       datatype
GHCND:US1CAAL0012 2018-01-01 PRCP       0.00
                  2018-01-02 PRCP       0.00
                  2018-01-03 PRCP       0.00
                  2018-01-04 PRCP       0.26
                  2018-01-05 PRCP       0.00
...                                      ...
GHCND:USS0019L39S 2022-12-30 TMAX      46.00
                             TMIN      40.00
                  2022-12-31 PRCP       5.00
                             TMAX      45.00
                             TMIN      31.00

[36689 rows x 1 columns]

In [51]:
df_noaa.head(20)

          date datatype            station  value
0   2018-01-01     PRCP  GHCND:US1CAAL0012    0.0
1   2018-01-01     PRCP  GHCND:US1CALA0046    0.0
2   2018-01-01     PRCP  GHCND:US1CAMP0008    0.0
3   2018-01-01     PRCP  GHCND:US1CASC0057    0.0
4   2018-01-01     PRCP  GHCND:US1CASD0053    0.0
5   2018-01-01     TMAX  GHCND:USR0000CBAR   65.0
6   2018-01-01     TMIN  GHCND:USR0000CBAR   46.0
7   2018-01-01     TMAX  GHCND:USR0000CCRE   56.0
8   2018-01-01     TMIN  GHCND:USR0000CCRE   23.0
9   2018-01-01     TMAX  GHCND:USR0000CDGR   55.0
10  2018-01-01     TMIN  GHCND:USR0000CDGR   29.0
11  2018-01-01     TMAX  GHCND:USR0000CHAY   63.0
12  2018-01-01     TMIN  GHCND:USR0000CHAY   30.0
13  2018-01-01     TMAX  GHCND:USR0000CHNM   60.0
14  2018-01-01     TMIN  GHCND:USR0000CHNM   32.0
15  2018-01-01     TMAX  GHCND:USR0000CSNL   65.0
16  2018-01-01     TMIN  GHCND:USR0000CSNL   37.0
17  2018-01-01     PRCP  GHCND:USS0019L39S    0.0
18  2018-01-01     TMAX  GHCND:USS0019L39S   55.0
19  2018-01-01     TMIN  GHCND:USS0019L39S   30.0

In [55]:
dates = df_noaa['date'].unique()
dates

array(['2018-01-01', '2018-01-02', '2018-01-03', ..., '2022-12-29',
       '2022-12-30', '2022-12-31'], dtype=object)

In [56]:
len(dates)

1826

In [89]:
test = df_noaa.drop(columns=['datatype', 'value'])
test.head(20)

          date            station
0   2018-01-01  GHCND:US1CAAL0012
1   2018-01-01  GHCND:US1CALA0046
2   2018-01-01  GHCND:US1CAMP0008
3   2018-01-01  GHCND:US1CASC0057
4   2018-01-01  GHCND:US1CASD0053
5   2018-01-01  GHCND:USR0000CBAR
6   2018-01-01  GHCND:USR0000CBAR
7   2018-01-01  GHCND:USR0000CCRE
8   2018-01-01  GHCND:USR0000CCRE
9   2018-01-01  GHCND:USR0000CDGR
10  2018-01-01  GHCND:USR0000CDGR
11  2018-01-01  GHCND:USR0000CHAY
12  2018-01-01  GHCND:USR0000CHAY
13  2018-01-01  GHCND:USR0000CHNM
14  2018-01-01  GHCND:USR0000CHNM
15  2018-01-01  GHCND:USR0000CSNL
16  2018-01-01  GHCND:USR0000CSNL
17  2018-01-01  GHCND:USS0019L39S
18  2018-01-01  GHCND:USS0019L39S
19  2018-01-01  GHCND:USS0019L39S

In [90]:
test['PRCP'] = [0]*len(test)
test['TMIN'] = [0]*len(test)
test['TMAX'] = [0]*len(test)
test.head()

         date            station  PRCP  TMIN  TMAX
0  2018-01-01  GHCND:US1CAAL0012     0     0     0
1  2018-01-01  GHCND:US1CALA0046     0     0     0
2  2018-01-01  GHCND:US1CAMP0008     0     0     0
3  2018-01-01  GHCND:US1CASC0057     0     0     0
4  2018-01-01  GHCND:US1CASD0053     0     0     0

In [ ]:
for i in range(test.shape[0]):
    station = test.iloc[i,1]
    date = test.iloc[i,0]
    val = df_noaa.loc[(df_noaa['date'] == date) & (df_noaa['station'] == station)]['value'].values[0]
    datatype = df_noaa.loc[(df_noaa['date'] == date) & (df_noaa['station'] == station)]['datatype'].values[0]
    test.loc[i, datatype] = val

In [70]:
test.iloc[1, 1]

'GHCND:US1CALA0046'

In [79]:
v = df_noaa.loc[(df_noaa['date'] == '2018-01-01') & (df_noaa['station'] == 'GHCND:US1CALA0046')]['value']
type(v)

NoneType

In [82]:
df_noaa.loc[(df_noaa['date'] == '2018-01-01') & (df_noaa['station'] == 'GHCND:US1CALA0046')]['value'].values[0]

0.0

In [83]:
df_noaa.loc[(df_noaa['date'] == '2018-01-01') & (df_noaa['station'] == 'GHCND:US1CALA0046')]['datatype'].values[0]

'PRCP'